/* lauout */
#gnb {
  width: 100%;
  height: 32px;
  background-color: #000000;
}
#header {
  width: 100%;
}
#nav {
}
#main {
}
#footer {
}

/************** container *************/
.container {
  width: 944px;
  margin: 0 auto;
}

/*************** gnb ***************/
#gnb > .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#gnb h6 {
  font-size: 0.8em;
}
#gnb h6 a {
  color: #fff;
}
#gnb h6 a:hover {
  color: rgb(88, 174, 255);
}
#gnb ul {
  display: flex;
}
#gnb ul li {
  padding: 0 9px;
}
#gnb ul li a {
  font-size: 0.85em;
  color: #fff;
}
#gnb ul li a:hover {
  color: rgb(88, 174, 255);
}

/* 이미지를 표현하는 방법 
  1) html태그를 통한 표현방법 ex) <img src=" alt="
  -중요한 이미지를 표현할때 - 배너
  2) css속성값으로 통한 표현방법 ex) (backgroung...) 
  3) 이미지 스프라이트 방법 : 아이콘 종류에 많이 쓰인다*/

/*************** icon ****************/
#gnb h6 span {
  display: inline-block;
  width: 15px;
  height: 10px;
  background-color: #fff;
  background: url(../img/icons.png) -350px 2px;
  margin-left: 3px;
}
#gnb ul li span {
  display: inline-block;
  width: 15px;
  height: 10px;
  background: url(../img/icons.png) 0 0;
  margin-left: 5px;
}
#gnb ul li:nth-child(3) span {
  background-position: -299px 2px;
}
#gnb ul li:nth-child(4) span {
  background-position: -200px 2px;
}
#gnb ul li:nth-child(6) span {
  background-position: -250px 2px;
}
/************* gnb ************/

/* header */
.header_inner {
  height: 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu {
  display: flex;
}
.menu li {
}
.menu li a {
  display: block;
  padding: 0 11px;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
/* 가상요소,css에서 문자를 넣을 수 있다. */
.menu li a.bar::after {
  content: "";
  width: 1px;
  height: 11px;
  background-color: #696969;
  position: absolute;
  top: 0;
  right: 0;
}
.menu li a:hover {
  color: #256aff;
}
.menu li:first-child a {
  padding-left: 0;
}

h1.logo {
  font-size: 4em;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h1.logo a {
  color: #000000;
  font-weight: 400;
}
h1.logo a span {
  font-weight: 100;
  color: #777;
}
.search_box {
  display: flex;
  border: 1px solid #000;
}
.search_box input {
  width: 164px;
  height: 36px;
  padding-left: 10px;
}
.search_box button {
  width: 36px;
  height: 36px;
  background: url(../img/lip.png) no-repeat center;
  background-size: 80%;
  cursor: pointer;
}

/************** nav **************/
#nav ul {
  display: flex;
  justify-content: space-around;
  /* height: 56px;
  align-items: center; */
  border-top: 5px solid #000;
  box-sizing: border-box;
}
#nav ul li {
}
#nav ul li a {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  padding: 20px 0;
}
#nav ul a:hover {
  color: #256aff;
}

/*************** main **************/
.main_banner {
  display: grid;
  grid-template-columns: 624px 304px;
  grid-template-rows: 304px 136px;
  grid-template-areas: "rolling feature" "rolling event";
  gap: 16px;
}
.rolling_banner {
  grid-area: rolling;
  width: 100%;
  height: 500px;
}
.feature_item {
  grid-area: feature;
  border: 1px solid #b4b3b3;
}

/* .main_banner {
  display: flex;
  gap: 16px;
} */
.main_event {
  grid-area: event;
  /* width: 304px;
  height: 136px; */
  background: url(../img/main_event.png);
}

.feature_item figcaption {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 10px;
}
/* 블록의 부모가 인라인 자식에게 준다.
  이미지는 글자처럼 인라인 속성이다. */
.feature_item figure.feature_img {
  text-align: center;
}

/* item_txt */
.item_txt {
}
.item_txt ul {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.item_txt ul li {
  margin-bottom: 3px;
}
.item_txt ul li:first-child {
  font-weight: 800;
  color: #191919;
}
.item_txt ul li:nth-child(2) {
  color: #9d9d9d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 한줄 글자 생략 삼총사 */
}
.item_txt ul li span.money {
  color: #191919;
  font-weight: 800;
  margin-right: 8px;
}
.item_txt ul li span.cancel {
  color: #9d9d9d;
  text-decoration: line-through;
}

/* title 메인 안에 섹션 제목에 사용 */
.title {
  height: 46px;
  border-top: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  letter-spacing: 5px;
  color: #070707;
}
/* title 끝 */

/* SPECIAL PICKS */
.special_picks {
  margin-top: 50px;
}
.pick_menu {
  border-top: 2px dotted #191919;
}
.pick_menu ul {
  display: flex;
  justify-content: center;
  border-top: 2px dotted #191919;
}
.pick_menu ul li {
  padding: 0 15px;
}
.pick_menu ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.pick_menu ul li a:hover {
  border-top: 4px solid #000;
  color: red;
  position: relative;
  top: -4px;
  /* margin-top: -4px; */
}

/* 삼각형 만들기 -가상요소 , 보더의 성질 이용 */
.triangle::before {
  content: "";
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.pick_menu ul li a:hover .triangle::before {
  opacity: 1;
}
.pick_box {
  display: flex;
  flex-wrap: wrap;
}
.pick {
  /* flex: 1; */
  width: 25%;
  text-align: center;
}
.pick .pick_img {
  padding: 15px 0;
  /* margin: 15px 0; */
}
.pick_icon {
  width: 25px;
  height: 16px;
  background: url(../img/icons.png) no-repeat 0 0;
  display: inline-block;
  /* margin: 0 auto; */
}
.icon2 {
  width: 48px;
  background-position: -50px 0;
}
.icon4 {
  background-position: -150px 0;
}
/* special_picks 끝 */

/****** magazine ******/
.magazine {
  margin-top: 50px;
}
/* magazine 끝 */

/* brand_focus */
.brand_focus {
  margin-top: 50px;
}
.product_box {
  display: flex;
  justify-content: space-between;
}
.product_box img {
  width: 100%;
}
/* best_contens */
.best_contens {
  margin-top: 50px;
}
.best_inner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.best_menu {
  width: 176px;
}
.best_menu li a {
  display: block;
  width: 176px;
  height: 72px;
}
.best_menu li:nth-child(1) a {
  background: url(../img/best_menu01.jpg);
}
.best_menu li:nth-child(2) a {
  background: url(../img/best_menu02.jpg);
}
.best_menu li:nth-child(3) a {
  background: url(../img/best_menu03.jpg);
}
.best_menu li:nth-child(4) a {
  background: url(../img/best_menu04.jpg);
}

.best_menu li:nth-child(1) a:hover {
  background: url(../img/best_menu01_r.jpg);
}
s .best_menu li:nth-child(2) a:hover {
  background: url(../img/best_menu02_r.jpg);
}
.best_menu li:nth-child(3) a:hover {
  background: url(../img/best_menu03_r.jpg);
}
.best_menu li:nth-child(4) a:hover {
  background: url(../img/best_menu04_r.jpg);
}
/*****tab_box******/
.tab_box {
  margin-top: 50px;
}

.seller_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.seller_box a {
  filter: grayscale();
  transition: filter 0.5s;
}
.seller_box a:hover {
  filter: none;
}

/******footer******/
.footer_inner {
  display: flex;
  margin-top: 100px;
  border-top: 5px solid #000;
  padding: 30px 0;
}
.footer_inner section {
  flex: 1;
  padding: 0 15px;
  height: 86px;
}
.footer_inner section ul {
  border-right: 1px dotted #000;
  height: inherit;
}
.footer_inner section ul.outlet {
  border-right: 0;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  height: 38px;
}
.footer_inner section ul li {
  margin-bottom: 3px;
}
.footer_inner section ul li span {
  font-weight: 800;
  font-size: 1.2em;
}
.footer_inner section ul li strong {
  font-size: 1.7em;
}
